/* VARIAVEIS */
:root{
    --background: #101010;
    --background2: #181818;
    --destaque: #dd1919;
    --destaque2: #791414;
}

/* RESET CSS */
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
    /* FIM RESET CSS */

     background-color: var(--background);
     color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* HEADER */

header{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
}

    /* LOGOTIPO */
    #logotipo{
        text-transform: uppercase;
        font-size: 50px;
        margin: 10px 50px;
    }

    /* NAVEGAÇÃO */
    nav{
        grid-column: 2 / 4;
    }

    nav ul{
        text-align: end;
        margin: 10px 50px;
    }

    nav li{
        display: inline-block;
        color: white;
        text-transform: uppercase;
    }

/* MAIN */

    /* INICIO (BANNER) */
    #inicio{
        height: 80vh;
        background-image: linear-gradient(to bottom, transparent 0%, var(--background) 80%), url(img/background.jpg);
        background-position: center;
        background-size: cover;

        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 70% 30%;
        justify-items: center;
        align-items: center;
    }

        /* TEXTO */
        .texto_destaque{
            text-transform: uppercase;
            font-size: 70px;
        }

        #botao_contato{
            background-color: var(--destaque);
            color: white;
            text-transform: uppercase;
            font-weight: 900;
            padding: 25px;
            border-radius: 500px;

            grid-row: 2;
            align-self: baseline;
        }

        #botao_contato:hover{
            background-color: var(--destaque2);
        }