/* VARIAVEIS */
:root{
    --background: #101010;
    --background2: #181818;
    --detalhe: #4F4F4F;
    --destaque: #dd1919;
    --destaque2: #791414;
}

/* RESET CSS */
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
    /* FIM RESET CSS */

    background-color: var(--background);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    overflow-x: hidden;
}

/* ALL */
h2{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

.subtitulo{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: var(--detalhe);
    margin-bottom: 40px;
}

/* HEADER */

header{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
}

    /* LOGOTIPO */
    #logotipo{
        text-transform: uppercase;
        font-size: 50px;
        margin: 10px 50px;
    }

    /* NAVEGAÇÃO */
    nav{
        grid-column: 2 / 4;
    }

    nav ul{
        text-align: end;
        margin: 10px 50px;
    }

    nav li{
        display: inline-block;
        color: white;
        text-transform: uppercase;
        padding: 0 10px;
    }

    nav li:hover{
        color: var(--destaque);
    }

/* MAIN */

    /* INICIO (BANNER) */
    #inicio{
        height: 80vh;
        background-image: linear-gradient(to bottom, transparent 0%, var(--background) 80%), url(img/background.jpg);
        background-position: center;
        background-size: cover;

        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 70% 30%;
        justify-items: center;
        align-items: center;
    }

        /* TEXTO */
        .texto_destaque{
            text-transform: uppercase;
            font-size: 70px;
        }

        #botao_contato{
            background-color: var(--destaque);
            color: white;
            text-transform: uppercase;
            font-weight: 900;
            padding: 15px;
            border-radius: 500px;
            font-size: 25px;

            grid-row: 2;
            align-self: baseline;
        }

        #botao_contato:hover{
            background-color: var(--destaque2);
        }

    /* FAIXA DECORATIVA */
    .faixa_decorativa{
        background-color: var(--destaque);
        color: white;
        font-size: 65px;

        display: grid;
        grid-template-columns: repeat(5, 1fr);

        transform: scale(1.25) rotate(-3deg);
        position: relative;
        top: -55px;
    }

    /* PLANOS */

        /* CARTÕES */
        .os_planos{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }

            .cartao_preco{
                height: 450px;
                width: 250px;
                background-color: var(--background2);
                padding: 30px;
                border-radius: 30px;
                margin: 10px;

                display: grid;
                grid-template-rows: 75px 50px auto 50px;
                justify-content: center;
            }

                .cartao_preco h3{
                    font-size: 30px;
                }

                .cartao_preco p{
                    font-size: 40px;
                    text-align: center;
                    justify-self: baseline;
                }

                    .diminuir{
                        color: #4F4F4F;
                        font-size: 20px;
                    }

                .cartao_preco ul li{
                    margin: 5px;
                    text-align: justify;
                }

                .botao_primario{
                    background: var(--destaque);
                    color: white;
                    border-radius: 100px;
                    padding: 10px;
                    justify-self: center;
                    align-self: center;
                }

                .botao_primario:hover{
                    background-color: var(--destaque2);
                }

    /* ESPAÇOS */
    #imagens_espaco {
        display: grid;
        grid-template-columns: repeat(3, 310px);
        gap: 10px;
        justify-content: center;
    }
    
        .img-container {
            position: relative;
            width: 300px;
    }
    
            .img-container img {
                width: 100%;
                display: block;
                transition: filter 0.3s ease-in-out;
            }
    
            .texto {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                text-align: center;
                padding: 10px;
                border-radius: 5px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                width: 80%;
            }
    
            .img-container:hover img {
                filter: brightness(50%);
            }
    
            .img-container:hover .texto {
                opacity: 1;
            }
    

    /* DEPOIMENTOS */
    #todos_depoimentos{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        align-content: center;
        justify-content: center;
        gap: 1%;
    }

        .depoimento{
            width: 300px;
            background-color: var(--background2);
            border-radius: 30px;
            padding: 30px;

            display: grid;
            grid-template-columns: 50px 200px;
            align-items: center;
            justify-items: center;
        }

            .depoimento img{
                width: 50px;
                border-radius: 100%;
            }

            .depoimento h3{
                justify-self: baseline;
                margin-left: 15px;
            }

            .depoimento .depoimento_avalicao{
                margin-top: 10px;

                grid-column: 1 / 3;
            }
    
    /* C0NTATO */